{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/ville.css"/>
{% endblock %}

{% block content %}
<img class="intro" src="\assets\img\Lille\OIP (1).jpg" />
<div class="rectangle"></div>
<h1>Lille</h1>
<h2>La ville de Lille:</h2>
<h2>la specialité: </h2>
<img class="spec" src="\assets\img\Lille\pave.jpg"/>
<h2>A visiter:</h2>
<img src="\assets\img\Arras\beffroi.jpg">
<img src="\assets\img\Arras\CATACOMBS.webp">
<img src="\assets\img\Arras\OIP.jpg">

{% endblock %}
