{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/ville2.css">


{% endblock %}

{% block content %}

	<div id="container">
			<div class="slide anim-in">
        <h1>Cambrai</h1>
			<div class="images" style="background-image: url('/assets/img/cambrai/OIP (1).jpg')"></div>
			<div class="overlay"></div>
			<div class="cont">

			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/cambrai/87487-this-building-indexed-the-base-merimee-database-architectural-heritage-maintained-the-french-ministry-cultureunder-the-reference-pa.jpg);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Porte de Paris">Porte de Paris</h1>
				<ul class="city-info">
					<li>Un monument important de la ville. A voir, c'est un endroit préservé et accueillant de l ville. D'autres portes et monuments de l'ancienne fortification existent toujours aussi.</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/cambrai/5f7f3853baea9-d8312.jpg);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Chateau de Selles">Chateau de Selles</h1>
				<ul class="city-info">
					<li>Un des plus anciens monuments militaires de Cambrai, datant du XIIIe siècle et possédant de remarquables témoignages du Moyen Age</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/cambrai/la-cathedrale-notre-dame-01-2400x0-c-default.jpg);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Notre-Dame">Notre-Dame</h1>
				<ul class="city-info">
					<li>La cathédrale Notre-Dame de Cambrai était une cathédrale de style gothique située à Cambrai.</li>
				</ul>
			</div>
		</div>

	{% endblock %}
