{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/ville2.css">


{% endblock %}

{% block content %}

	<div id="container">
			<div class="slide anim-in">
        <h1>Dunkerque</h1>
			<div class="images" style="background-image: url('/assets/img/dunkerque/télécharger.jpg')"></div>
			<div class="overlay"></div>
			<div class="cont">

			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url('/assets/img/dunkerque/port Dk.jpg');"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Le port">Le port</h1>
				<ul class="city-info">
					<li>Aménagé à proximité du centre ville, les ports intérieurs sont un point de départ idéal pour le shopping et la découverte de la cité de Jean Bart</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/dunkerque/carrillon.webp);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Carillon ">Carillon </h1>
				<ul class="city-info">
					<li>Depuis bientôt cinq cents ans, le carillon du beffroi fait intimement partie de la ville de Bergues, riant avec elle les jours de joie, pleurant avec elle les Jours de deuil.</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url('/assets/img/dunkerque/OIP.jpg');"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Bergues">Bergues</h1>
				<ul class="city-info">
					<li>Ville fortifiée, Bergues vous livrera ses trésors cachés, au cours d’une promenade qui vous mènera des remparts aux canaux.</li>
				</ul>
			</div>
		</div>

	{% endblock %}
