{% extends 'layout.html.twig' %}

{% block content %}
<h1>A la découverte des Hauts-de-France :</h1>
	<button id="spin">GO</button>
	<span class="arrow"></span>
	<div class="container">
		<div class="one"></div>
		<div class="two"></div>
		<div class="three"></div>
		<div class="four"></div>
		<div class="five"></div>
		<div class="six"></div>
		<div class="seven"></div>
		<div class="eight"></div>
	</div>
    <p>Clique sur l'image pour découvrir ch'nord</p>
{% endblock %}
