{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/style.css">{% endblock %}

{% block content %}
<h1>A la découverte des Hauts-de-France :</h1>
	<button id="spin">GO</button>
	<span class="arrow"></span>
	<div class="container">
		<div class="one" id="one"></div>
		<div class="two" id="two"></div>
		<div class="three" id="three"></div>
		<div class="four" id="four"></div>
		<div class="five" id="five"></div>
		<div class="six" id="six"></div>
		<div class="seven" id="seven"></div>
		<div class="eight" id="eight"></div>
	</div>
    <p>Clique sur l'image pour découvrir ch'nord</p>
{% endblock %}
