{% extends 'layout.html.twig' %}



{% block title %}Bienvenue sur la page de la ville historique de Lens{% endblock %}
{% block desc %}Plus qu'une ville, une passion !{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/ville2.css">
<link rel="stylesheet" href="/assets/css/api.css">
{% endblock %}

{% block content %}

	<div id="container">
		<div class="slide anim-in">
			<h1 id="meteo">La météo à Lens</h1>
			<div class="images" style="background-image: url(/assets/img/lens/OIP.jpg)"></div>
			
			<div class="cont">
				<p id="temp">
					<span id="city"></span><br>
					Température : <span id="temperature_label"></span> °C
				</p>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url('/assets/img/lens/louvre lens.jpg');"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Louvre-Lens">Louvre-Lens</h1>
				<ul class="city-info">
					<li>Le Louvre-Lens est une annexe du Louvre située sur la commune de Lens, dans le Pas-de-Calais en région Nord-Pas-de-Calais.</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/lens/terril.jpg);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="Terril">Terril</h1>
				<ul class="city-info">
					<li>Un terril est une colline artificielle construite par accumulation de résidus miniers, sous-produits de l'exploitation minière.</li>
				</ul>
			</div>
		</div>
		<div class="slide anim-in">
			<div class="image" style="background-image: url(/assets/img/lens/rcl.jpg);"></div>
			<div class="overlay"></div>
			<div class="content">
				<h1 class="title" data-title="RCL">RCL</h1>
				<ul class="city-info">
					<li>Le Racing Club de Lens, couramment abrégé en RC Lens, est un club de football basé à Lens (Pas-de-Calais, Hauts-de-France). Le club évolue à domicile au Stade Bollaert-Delelis.</li>
				</ul>
			</div>
		</div>

	{% endblock %}
