<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    <script src="/assets/js/script.js"></script>
	<script src="/assets/js/api.js"></script>
</body>
</html>
