body{
    background-color: goldenrod;

}



.intro {
    position: relative;
    margin-left: 38.25%;
    height: 10rem;
    width: 20rem;
    background-color: rgda(0,0,0,0.1);
    transform: translateX(40px);
    animation:sway 20s ease-in-out infinite ;

}
    @keyframes sway{
        0%{
            transform: rotate(0deg);
        }
        25%{
            transform:rotate(10deg);
        }
        50%{
            transform:rotate(-10deg);
        }
        75%{
            transform:rotate(10deg);
        }
        100%{
            transform: rotate(-10deg);
        }

    }


.photo {
    height: 10rem;
    width: 13rem;
    margin-left: 14rem;
    border: solid;

}

.rectangle {
    margin:0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 27%;
    background-color: #d9d9d9;
    margin-left: 10rem;
    opacity: 0.3;
    padding-top: 20rem;


}

h1 {
    margin:.5rem;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: space-around;
}

.spec {
    margin-left: 43.5%;
    height: 10rem;
    width: 13rem;
}
